aniso8601==1.2.0
ansicolors==1.1.8
asn1crypto==0.24.0
astroid==2.2.3
astropy==3.1.2
autopep8==1.4.4
bcrypt==3.1.7
beautifulsoup4==4.7.1
boto3==1.9.183
botocore==1.12.183
bs4==0.0.1
certifi==2019.6.16
cffi==1.12.2
chardet==3.0.4
Click==7.0
click-datetime==0.2
colorama==0.4.1
console==0.94
cryptography==2.6.1
cycler==0.10.0
dnspython==1.16.0
docutils==0.14
dominate==2.4.0
ezenv==0.86
Flask==1.0.3
Flask-API==1.1
Flask-Ask==0.9.8
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Limiter==1.1.0
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
imagetyperzapi3==0.5
isort==4.3.10
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
limits==1.5
location==0.0.7
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mysqlclient==1.4.2.post1
numpy==1.16.2
openweathermapy==0.6.6
pandas==0.24.1
phue==1.1
pycodestyle==2.5.0
pycparser==2.19
pygame==1.9.6
pyHS100==0.3.4
pylint==2.3.1
pymongo==3.8.0
pyOpenSSL==17.0.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.12
requests==2.22.0
rfc3339==6.0
s3fs==0.2.2
s3transfer==0.2.1
scikit-learn==0.21.1
scipy==1.2.1
selenium==3.141.0
six==1.12.0
sklearn==0.0
soupsieve==1.8
speech==0.5.2
splinter==0.10.0
SQLAlchemy==1.3.3
Theano==1.0.4
typed-ast==1.3.1
typing==3.6.6
ui==0.1.4
urllib3==1.25.8
visitor==0.1.3
Werkzeug==0.15.2
wincertstore==0.2
wrapt==1.11.1
WTForms==2.2.1
xlrd==1.2.0
