:root {
  --white: #f8f8ff;
  --blue: #006fab;
  --red: #ed1e25;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: var(--white);
    font-family: Roboto, sans-serif;
  }

  #head {
    display: flex;
    flex-direction: row;
    background-color: rgb(51, 51, 51);
    width: 100%;
    justify-content: center;
    height: 150px;
    margin-bottom: 50px;
  }

  #logo-div {
    position: relative;
    opacity: .6;
    right: 35vw;
    margin-bottom: -150px;
  }

  #logo {
    width: 200px;
  }

  #title-div {
    margin-top: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .title {
    margin: 0;
    padding: 5px;
    color: var(--white);
    justify-self: center;
    align-self: center;
  }

  #check-in {
    margin-bottom: 25px;
    align-self: center;
  }

  #description {
    margin: 20px;
    padding: 10px;
  }

  #note {
    margin-left: 10px;
  }
  #survey-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50vw;
  }
  #submit {
    margin: 10px;
    padding: 25px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  #special-instructions {
    height: 100px;
  }

  #tech {
    color: var(--red);
    font-weight: 800;
  }

  #check-in {
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--white);
    font-weight: 700;
    letter-spacing: .15rem;
  }

  .check-title {
     position: relative;
     top: 10px;
  }

  #order-form {
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--white);
    font-weight: 700;
    letter-spacing: .2rem;
  }

  #registered {
    font-size: small;
    position: relative;
    bottom: 20px;
  }

  .input, select, option {
    margin: 17px;
    padding: 5px;
    line-height: 2;
    background-color: #eeeeee;
    border-radius: 5px;
    border: 2px var(--blue) solid;
    font-size: 18px;
    font-weight: 600;
  }

  label, #photos {
    color: var(--blue);
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 700;
  }

  .radios > label {
    color: black;
    font-weight: 350;
  }

  .req {
    color: var(--red)
  }

  .removal, .complete, .frontstrip, .windshield {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: start;
    justify-content: start;
  }

  .radio-text-area {
    margin-left: 15px;
    width: 50%;
  }

  textarea {
    background-color: #eeeeee;
  }

  #submit {
    background-color:var(--blue);
    /* First we need to help some browsers along for this to work.
       Just because a vendor prefix is there, doesn't mean it will
       work in a browser made by that vendor either, it's just for
       future-proofing purposes I guess. */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
  }
  #submit:hover { background-color:red; }
  

  /* BEGIN CSS FOR WEATHERTECH.HTML */

  #info-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    
  }

  #cust-info {
    align-self: start;
    justify-self: start;
  }

  #vehicle-info {
    align-self: end;
    justify-self: end;
  }

  #cust-info, #vehicle-info {
    display: flex;
    flex-direction: column;
    
  }

  .headers {
    text-transform: capitalize;
  }

  .info-divs {
    padding: 25px;
    margin: 5vw;
    border: #000 2px solid;
    width: 35vw;
    height: 400px;
  }

  #info-needed {
    font-weight: 600;
    font-size: .9rem;
  }

  #outer-info-div {
    display: flex;
    flex-direction: column;
  }

  #part-add {
    border: #000 2px solid;
    width: 105px;
    height: 35px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
    background-color: #FFC723;
  }

  .remove {
    cursor: pointer;
    color: var(--red);
    font-weight: 900;
    padding: 4px;
    margin: 1px;
  }

  .part-add-div {
    align-self: center;
    text-transform: capitalize;
    color: #000;
    background-color: #FFC723;
    font-weight: 600;
  }

  #part-add:active, .part-add-div{
      background: #e5e5e5;
      -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
         -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
              box-shadow: inset 0px 0px 5px #c1c1c1;
       outline: none;
    }
  

  #parts-des {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000000a6;
  }


  .image-div {
    position:relative;
    display:inline-block;    
    border-radius:8px;
    border:#ebebeb solid 1px;
    width:250px; 
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background:white;
    align-self: center;
    margin-bottom: 22px;
  }

  .images-label {
    background-color: #FFC723;
    text-align: center;
  }


  @media only screen and (max-width: 768px) {
    #survey-form {
      width: 68vw;
    }
    #logo {
      width: 110px;
      margin: 0 25px 50px 0;
    }
  }

  @media only screen and (max-width: 710px) {
    #logo-div {
      right: 0;
    }
    #logo {
      margin: 0 25px 150px 0;
    }

    #info-div {
      flex-direction: column; 
    }
    #weather-form {
      width: 100%;
    }
    #cust-info, #vehicle-info {
      width: 68vw;
      align-self: center;
      justify-self: center;
    }
  }

  @media only screen and (max-width: 496px) {
    #survey-form {
      width: 85vw;
    }
    #cust-info, #vehicle-info {
      width: 85vw;
    }
    .title {
      font-size: 5vw;
    }

    #title {
      font-size: 6vw;
    }
  }